body.posts {
	&.index {
		.container {
			margin-top: 120px;
		}
	}
	&.show {
		@extend .invertBody;

		.header, p {
			@extend .fadeIn;
		}

		.header {
			text-align: center;
			width: 630px;
			margin-top: 130px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
			.title {
				font-size: 60px;
				font-weight: bold;
				color: $black;
				margin: 0;
				margin-bottom: 10px;
				line-height: 60px;
				width: 100%;
				max-width: 100%;
				text-align: center;
				
			}
			.subtitle {
				font-size: 26px;
				font-weight: lighter;
				color: #aaa;
				margin: 0;
				line-height: 35px;
				width: 100%;
				max-width: 100%;
				text-align: center;
				
			}

		}
		article {
			width: 100%;
			font-size: 16px;
			line-height: 1.5;
			color: #555;

			* {
				color: inherit;
			}

			h1 {
				text-align: center;
				font-size: 28px;
				line-height: 50px;
				margin-top: 25px;
				width: 100%;
				border-bottom: 1px solid #eee;
			}

			h2, h3 {
				font-size: 18px;
				line-height: 40px;	
				margin-top: 25px !important;
				border-left: 5px solid #aaa;
				padding-left: 15px;
				border-bottom: 1px dashed #eee;
			}

			h4 {
				font-size: 18px;
				line-height: 25px;	
				margin-top: 15px;
			}

			h1, h2, h3, h4, h5 {
				
				margin-top: 15px;
				font-weight: bold;
			}

			code {
				background-color: #f7f7f7;
				border-radius: 4px;
				padding: 5px 8px;
				font-size: inherit;
				margin: 0 3px;

				&:hover {
					background-color: #eee;
				}
			}

			pre {
				padding: 15px 20px;
				background-color: #f7f7f7;
				border-radius: 8px;
				overflow-y: auto;
				code {
					background:none;
					margin: 0;
					color: #777;
					padding: 0;

					&:hover {
						background: none;
					}
				}
			}

			ul, ol, li {
				font-size: inherit;
				color: inherit;
				line-height: inherit;

			}

			blockquote {
				@extend %quote;
				width: 80%;
				margin: 0 auto;
				font-style: italic;
				color: #aaa;
				font-size: 14px;
				line-height: 1.8;


				p {
					padding: 10px 15px;
					font-style: inherit;
					text-indent: 0;
					color: inherit;
					font-size: inherit;
					line-height: inherit;
					border-bottom: 1px dashed #eee;
				}
			}
			
			p {
				margin: 12px 0;
				padding: 0;
				text-indent: 2em;
				font-size: inherit;
				line-height: inherit;
			}
		}

		.actions {
			width: 100%;
			margin-top: 50px;

			span {
				display: inline-block;
				vertical-align: top;
				margin-left: 10px;
				height: 20px;
				padding: 10px 0;
				color: #aaa;
				line-height: 20px;
				font-size: 14px;
			}
		}

		.tags {
			margin-top: 20px;
			font-size: 0;
			margin-bottom: 40px;

			span {
				display: block;
				font-size: 12px;
				line-height: 18px;
				font-weight: bold;
				color: #777;
				margin-bottom: 5px;
			}
		}

		.info {
			width: 100%;
			border-top: 1px solid #eee;
			background-color: #f7f7f7;
			padding-top: 38px;

			.author {
				width: 630px;
				margin: 0 auto;

				.avatar, .text {
					display: inline-block;
					vertical-align: top;
				}

				.avatar {
					width: 100px;
					height: 100px;
					img {
						width: 100%;
						border-radius: 8px;
					}
				}

				.text {
					padding-left: 50px;
					text-align: left;

					h3.name {
						font-size: 35px;
						line-height: 50px;
						margin: 0;
						padding: 0;
						margin-bottom: 5px;
						color: #999;
					}
					p {
						padding: 0;
						margin: 0;
						font-size: 16px;
						line-height: 25px;
						text-indent: 0;
						color: #aaa;

						max-width: calc(630px - 100px - 55px);
					}
				}

			}
		}
	}
}