body.posts {
	&.index {
		.container {
			margin-top: 120px;
		}
	}
	&.show {
		@extend .invertBody;

		.header, article {
			@extend .fadeIn;
		}

		.header {
			text-align: center;
			width: 630px;
			margin-top: 110px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
			.title {
				font-size: 60px;
				font-weight: bold;
				color: $black;
				margin: 0;
				margin-bottom: 10px;
				line-height: 60px;
				width: 100%;
				max-width: 100%;
				text-align: center;
				
			}
			.subtitle {
				font-size: 26px;
				font-weight: lighter;
				color: #aaa;
				margin: 0;
				line-height: 35px;
				width: 100%;
				max-width: 100%;
				text-align: center;
				
			}

		}
		article {
			width: 100%;
			font-size: 16px;
			line-height: 1.5;
			color: #555;

			* {
				color: inherit;
			}

			h1 {
				text-align: center;
				font-size: 28px;
				line-height: 50px;
				margin-top: 25px;
				width: 100%;
				border-bottom: 1px solid #eee;
			}

			h2, h3 {
				font-size: 18px;
				line-height: 40px;	
				margin-top: 25px !important;
				border-left: 5px solid #aaa;
				padding-left: 15px;
				border-bottom: 1px dashed #eee;
			}

			h4 {
				font-size: 18px;
				line-height: 25px;	
				margin-top: 15px;
			}

			h1, h2, h3, h4, h5 {
				
				margin-top: 15px;
				font-weight: bold;
			}

			code {
				background-color: #f7f7f7;
				border-radius: 4px;
				padding: 5px 8px;
				font-size: inherit !important;
				margin: 0 3px;

				&:hover {
					background-color: #eee;
				}
			}

			pre {
				padding: 15px 20px;
				background-color: #f7f7f7;
				border-radius: 8px;
				overflow-y: auto;
				font-size: inherit;
				code {
					background:none;
					margin: 0;
					color: #777;
					padding: 0;
					font-size: inherit;

					&:hover {
						background: none;
					}
				}
			}

			ul, ol, li {
				font-size: inherit;
				color: inherit;
				line-height: inherit;

			}

			blockquote {
				@extend %quote;
				width: 80%;
				margin: 0 auto;
				font-style: italic;
				color: #aaa;
				font-size: 14px;
				line-height: 1.8;


				p {
					padding: 10px 15px;
					font-style: inherit;
					text-indent: 0;
					color: inherit;
					font-size: inherit;
					line-height: inherit;
					border-bottom: 1px dashed #eee;
				}
			}
			
			p {
				margin: 12px 0;
				padding: 0;
				text-indent: 2em;
				font-size: inherit;
				line-height: inherit;
			}
		}

		.actions {
			width: 100%;
			margin-top: 50px;

			span {
				display: inline-block;
				vertical-align: top;
				margin-left: 10px;
				height: 20px;
				padding: 10px 0;
				color: #aaa;
				line-height: 20px;
				font-size: 14px;
			}
		}

		.tags {
			margin-top: 20px;
			font-size: 0;
			margin-bottom: 40px;

			span {
				display: block;
				font-size: 12px;
				line-height: 18px;
				font-weight: bold;
				color: #777;
				margin-bottom: 5px;
			}
		}

		.info {
			width: 100%;
			border-top: 1px solid #eee;
			background-color: #f7f7f7;
			padding-top: 38px;

			.author {
				@extend .clearfix;
				width: 500px;
				margin: 0 auto;

				.avatar, .text {
					display: inline-block;
				}

				.avatar {
					width: 20%;
					float: left;
					img {
						width: 100%;
						border-radius: 8px;
					}
				}

				.text {
					text-align: left;
					float: right;
					max-width: 75%;

					h3.name {
						font-size: 28px;
						line-height: 40px;
						margin: 0;
						padding: 0;
						margin-bottom: 5px;
						color: #999;
					}
					p {
						padding: 0;
						margin: 0;
						font-size: 16px;
						line-height: 24px;
						text-indent: 0;
						color: #aaa;
					}
				}

			}
		}
	}
}

@media (max-width: 960px) {
	body.posts.show {
		.header {
			width: 100%;
			.title {
				font-size: 40px;
				line-height: 40px;
			}
			.subtitle {
				font-size: 20px;
				line-height: 1.2;
				width: 80%;
				margin: 10px auto;
			}
		}
		article {
			width: 90%;
			margin: 0 auto;

			p {
				text-indent: 0;
			}
		}

		.actions {
			width: 90%;
			margin: 50px auto 0 auto;
		}

		.tags {
			width: 90%;
			margin: 20px auto 40px auto;

			.tag {
				margin-bottom: 10px;
			}
		}

		.info {
			.author {
				width: 50%;
				.text {
					h3.name {
						font-size: 20px;
						line-height: 1.4;
					}
					p {
						font-size: 12px;
						line-height: 1.4;
					}
				}
			}

		}
	}
}

@media (max-width: 380px) {
	body.posts.show {
		.header {
			width: 100%;
			margin-top: 80px;
			.title {
				font-size: 25px;
				line-height: 25px;
			}
			.subtitle {
				font-size: 18px;
				line-height: 1.2;
				width: 80%;
				margin: 10px auto;
			}
		}
		article {
			width: 90%;
			margin: 0 auto;
			font-size: 14px;

			h1 {
				font-size: 18px;
			}

			h2, h3 {
				font-size: 14px;
			}

			p {
				text-indent: 0;
			}

			blockquote {
				width: 100%;
			}

			pre {
				code {
					font-size: 9px;
				}
			}
		}

		.actions {
			width: 90%;
			margin: 50px auto 0 auto;
			font-size: 14px;
		}

		.tags {
			width: 90%;
			margin: 20px auto 40px auto;
			font-size: 14px;

			.tag {
				margin-bottom: 10px;
			}
		}

		.info {
			.author {
				width: 50%;
				.text {
					h3.name {
						font-size: 14px;
						line-height: 1.4;
					}
					p {
						font-size: 9px;
						line-height: 1.4;
					}
				}
			}

		}
	}
}