.btn {
	display: inline-block;
	vertical-align: top;
	padding: 9px 15px;
	font-size: 14px;
	line-height: 20px;
	color: #777;
	border: 1px solid #777;
	background:transparent;
	border-radius: 38px;
	margin-right: 10px;
	opacity: 0.7;

	i {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	&:hover, &:active {
		opacity: 1;
		cursor: pointer;
	}

	&.blue {
		color: $blue;
		border-color: $blue;

		&.active {
			color: $red;
			border-color: $red;
		}
	}

	&.right {
		float: right;
	}

}