.fadeIn {
  -webkit-transition-property: transform;
  transition-duration: 0.18s;
  -moz-animation-name: fadeInOnLoad;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-funtion: ease-in;
  -moz-animation-duration: 0.3s;

  -webkit-animation-name: fadeInOnLoad;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;

  animation-name: fadeInOnLoad;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  
}

.delay {
  transform-delay: 0.3s;
  -webkit-transform-delay: 0.3s;
}

.scaleable {
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-duration: 0.18s;
  &:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}

@-moz-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@-webkit-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}