.invertBody {
	background-color: #fff;
	
	.nav_control {
		a {
			color: #aaa !important;
		}
	}

}

.clearfix {
    *zoom: 1;

    &:after,
    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
        overflow: hidden;
    }
}

.navBar {
	width: 100%;
	.item {
		display: inline-block;
		vertical-align: top;
	}
	.right {
		display: inline-block;
		vertical-align: top;
		float: right;
	}
}

.blur {
    filter: asset-url('blur.svg#blur'); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);   
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.bgBlur {
	-webkit-filter: blur(2px); -moz-filter: blur(2px); filter: blur(2px);
}