nav#sidebar {
  @include translateX(-100%);
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #f7f7f7;
  //box-shadow: 1px 0 3px #eee;
  border-right: 1px solid #eee;
  .nav-header {
    text-align: center;
    padding-top: 40px;
    background-color: #eee;
    padding-bottom: 30px;
    

    .avatar {
      width: 80px;
      height: 80px;
      margin:0 auto;
      margin-bottom: 15px;

      img {
        width: 100%;
        border-radius: 100px;
        border: 1.5px solid #aaa;
        box-shadow: 0 0 2px #aaa;

      }
    }

    .name {
      color: #777;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .links {
    padding: 15px;
    .link {
      display: block;
      padding: 12px;
      line-height: 20px;
      color: #aaa;
      text-align: center;
      font-size: 14px;

      &:hover {
        color: #777;
      }
    }
  }
}

.dimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @extend .blur;
  display: none;
  background-color: #fff;
  opacity: 0.5;
  z-index: 1000;
}

body.nav-open {
  nav#sidebar {
    @include translateX(0);
  }
  .dimmer {
    display: block;
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
  }
  main {
   @include blur(3px);
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
  }
}