/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require notification
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 * require_tree .
 * require_self
 */

$nprogress-color: #f1f1f1;
$nprogress-height: 10px;
$nprogress-zindex: 10100;

@import 'nprogress';

$white: #fff;
$black: #777;
$blue: #38f;
$bg_black: #242424;
$red: #e96b6c;


.box {
	background-color: transparent;
}
html, body {
	font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, 'LiSong Pro Light', 'NSimSun', serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle, .sub-title, .title>*, a.item, .btn, a {
	font-family:  jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'LiHei Pro Medium', SimHei, Geneva, Verdana, sans-serif;
}

* {
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	color: rgba(0,0,0,0.8);
	font-size: 18px;
	line-height: 1.4;
	-webkit-transition-property: all;
	transition-property: all;
	transition-duration: 0.28s;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none !important;
	cursor: pointer;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.over-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

@media (max-width: 960px) {
	.hide-m {
		display: none !important;
	}
}

@media (max-width: 380px) {
	.hide-xm {
		display: none !important;
	}

	.margin-left-xm {
		margin-left: 3% !important;
	}
}

@import "extend";
@import "mixin";
@import "animation";
@import "pages";
@import "element";


